* {
  font: inherit;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.el {
  width: 400px;
  height: 400px;
}

.timer input {
  display: block;
  border: none;
}

.timer button {
  border: none;
  font-size: 20px;
  cursor: pointer;
}
